@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');


.main-body {
  background-color: #151515;
  min-height: 100vh;
}

.main-row {
  height: 100vh;
  background-color: #151515;
}
