@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

.main-body {
  background-color: #151515;
  min-height: 100vh;
}
.main-row {
  height: 100vh;
  background-color: #151515;
}

.main-home {
  padding-top: 4rem;
  padding-left: 10rem;
  position: fixed;
  height: 100vh;
}

.main-detail {
  padding-top: 4rem;
  padding-right: 10rem;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .main-home {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    position: relative;
  }
  .ant-col-offset-12 {
    margin-left: 0px !important;
  }

  .main-detail {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}


/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .main-home {
    padding-top: 4rem;
    padding-left: 35rem;
    position: fixed;

  }

  .main-detail {
    padding-top: 4rem;
    padding-right: 35rem;
  }
}
