/* .project-card-holder {
} */

.p-card-body {
  border: none;
  background-color: #202022;
  transition: transform .2s;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.p-top-tag {
  color: white;
  text-transform: uppercase;
  font-style: bold;
  margin: 0px;
  font-size: 0.9em;
  letter-spacing: 0.2em;
  font-family: "Source Sans Pro", sans-serif;
}

.p-tag-heading {
  color: white;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 2em;
  font-family: "Mulish", sans-serif;
}

.p-desc {
  color: #949495;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 6px;
  font-family: "Mulish", sans-serif;
}

.p-stars {
  color: #949495;
  padding-top: 10px;
}

.p-star-icon {
  margin-right: 6px;
  padding: 1px;
}

.p-star-number {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.2em;
}

.project-card-holder:hover .p-card-body {
  opacity: 0.5;
}

.project-card-holder:hover .p-card-body:hover {
  opacity: 1;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1280px) {

}
