.s-card-body {
  /* width: 240px; */
  height: 240px;
  background-color: #202022;
  border: none;
  font-family: 'Mulish', sans-serif;
}

.s-icon {
  text-align: center;
  font-size: 70px;
  color: white;
}

.s-heading {
  /* text-align: center; */
  margin-bottom: 0px;
  color: white;
}

.s-desc {
  /* text-align: center; */
  color: white;
}


.s-body {
  padding-top: 30px;
  padding-bottom: 30px;
}
