.s-card-body {
  /* width: 240px; */
  height: 300px;
  background-color: #202022;
  border: none;
  transition: transform .2s;
  font-family: "Mulish", sans-serif;
}

.s-body:hover .s-card-body{
  opacity: 0.5;
}

.s-body:hover .s-card-body:hover {
  opacity: 1;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}


.s-icon {
  font-size: 60px;
  color: white;
  text-align: center;
}

.s-heading {
  /* text-align: center; */
  margin-top: 1rem;
  margin-bottom: 0px;
  color: white;
  font-weight: 700;
  text-align: center;
}

.s-desc {
  /* text-align: center; */
  margin-top: 0.8rem;
  color: white;
  margin-bottom: 0!important;
  text-align: center;
  font-size: 1.1em;
  color: #949495;
}

.s-body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.s-top-tag {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9em;
  color: white;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.s-bottom {
  bottom: 0;
}
