.h-tag-heading {
  color: white;
  margin-bottom: 2rem;
  font-weight: 600;
  line-height: 1;
  font-family: "Source Sans Pro", sans-serif;
}


.desc {
  color: #949495;
  text-transform: capitalize;
  font-style: bold;
  margin-right: 10rem;
  font-size: 0.9rem;
  line-height: 2;
  font-family: "Mulish", sans-serif;
}

.text-2xl {
  font-size: 78px;
}

.home_div {
  height: 100vh;
}

.home-nav {
  padding-bottom: 5rem;
}

.home-footer {
  margin-top: 100px;
  position: relative;
  width: 100%;
  align-self: bottom;
  bottom: 0;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1280px) {

}


@media only screen and (min-width: 1824px) {
  .home-nav {
    padding-bottom: 35rem;
  }
}
