.p-tag-heading {
  color: white;
  margin-bottom: 0px;
  font-weight: 700;
}

.text-2xl {
  font-size: 48px;
}

@media (min-width: 1280px) {
  .lg\:text-4xl {
    font-size: 64px;
  }
}

@media (min-width: 1280px) {
  .lg\:leading-none {
    line-height: 1;
  }
}
