.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-li {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.nav-a {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #949495;
}

.nav-transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition: all 0.2s ease-in-out;
}

.nav-a:hover {
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  animation: popout 1s ease;
  -webkit-animation: popout 1s ease;
}

@keyframes popout {
  from {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
  }
}
