.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-a {
  font-size: 1.1em;
  text-transform: uppercase;
  color: #949495;
  letter-spacing: 0.1em;
  font-family: "Source Sans Pro", sans-serif;
}

.nav-ul-holder {
  padding-top: 40px;
}
.nav-transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition: all 0.2s ease-in-out;
}

.nav-a:hover {
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  animation: popout 1s ease;
  -webkit-animation: popout 1s ease;
}

.nav-line {
  border: 3px;
  height: 3px;
  width: 8px;
}

@keyframes popout {
  from {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1280px) {

}


/* Large screens ----------- */
@media only screen and (min-width: 1824px) {

}